<ul class="page-header list-unstyled clearfix category-header row-fluid">
    <li ng-repeat="item in categoryList" ng-class="item.id == categoryId? 'active':''">
        <a href="" class="common-a" ng-click="getContentByCategoryId(item)">{{item.name}}</a>
    </li>
</ul>
<ul class="common-list category-content">
    <li ng-repeat="item in list">
        <a class="wrap-img">
            <img src="" ng-src="{{item.imgUrl}}" />
        </a>
        <div>
            <p class="category-date">发表时间：{{item.createAt | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
            <h4 class="category-title">
                <a href="" ng-click="goNextSate(item)">{{item.name}}</a>
            </h4>
            <div class="category-desc">{{item.description}}</div>
        </div>
    </li>
</ul>
<div class="load-more" ng-if="list.length > 0 && !initing">
    <button class="btn common-btn" ng-click="loadMore()" ng-if="!loading">点击查看更多</button>
    <div class="loading category-more" ng-if="loading"></div>
</div>