<script>
    function pictureInit() {
        $(document).ready(function () {
            $("#content-slider").lightSlider({
                loop: true,
                keyPress: true
            });
            $('#image-gallery').lightSlider({
                gallery: true,
                item: 1,
                thumbItem: 9,
                slideMargin: 0,
                speed: 500,
                auto: true,
                loop: true,
                onSliderLoad: function () {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });
        });
    }
</script>
<div class="modal-header">
    <a class="close">&times;</a>
    <h4 class="modal-title">{{entity.name}}</h4>
</div>
<div class="modal-body">
    <div class="image-movie-box clearfix">
            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                <li ng-repeat="item in list" data-thumb="{{item.url}}">
                    <img src="" ng-src="{{item.url}}" />
                </li>
            </ul>
    </div>
</div>