body{
    min-width: 960px;
    color: #555555;
    font-size: 14px;
    font-family: Helvetica, Arial, "Hiragino Sans GB", sans-serif;
    line-height: 20px;
    background-color: white;
}

/*左侧菜单*/
.nav.nav-sven{
    position: fixed;
    left: 0;
    top: 0;
    width: 45px;
    height: 100%;
    background: #2a2a2a;
    z-index: 1024;
}

.nav-sven .nav-menu{
    margin-top: 10px;
}

.nav-menu a{
    display: block;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: white;
    line-height: 25px;
}

.nav-menu a:hover, .nav-menu a:active, .nav-menu a.active{
    background-color: #e78170;
    color: white;
    text-shadow: 0 1px 0 #de533a;
}

a.logo{
    font-size: 18px;
}

/*顶部菜单*/
.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    box-shadow: 0 1px 3px whitesmoke;
    padding-top: 10px;
    padding-bottom: 7px;
    -webkit-transition: transform 0.5s cubic-bezier(0.56, -0.29, 0.57, 1),opacity 0.1s;
    -moz-transition: transform 0.5s cubic-bezier(0.56, -0.29, 0.57, 1),opacity 0.1s;
    -o-transition: transform 0.5s cubic-bezier(0.56, -0.29, 0.57, 1),opacity 0.1s;
    transition: transform 0.5s cubic-bezier(0.56, -0.29, 0.57, 1),opacity 0.1s;
    -webkit-backface-visibility: hidden;
}

.header .pull-left{
    padding-left: 65px;
}

.header .pull-left a{
    width: 32px;
    height: 32px;
    display: inline-block;
    color: #e78170;
    margin-right: 10px;
    border: 1px solid #e78170;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
}

.header .pull-right{
    padding-right: 10px;
}

.header .pull-right a{
    margin-left: 10px;
}

.header a:hover{
    text-decoration: none;
}

.header.hide-header{
    -webkit-transform: translate(0, -90px);
    -ms-transform: translate(0, -90px);
    transform: translate(0, -90px);
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.header-content{
    position: fixed;
    top: 59px;
    width: 120px;
    left: 50px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    background-color: white;
    z-index: 2000;
}

.header-content:before{
    position: absolute;
    top: -10px;
    content: '';
    display: inline-block;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #d9d9d9;
}

.header-essay:before{
    left: 26px;
}

.header-picture:before{
    left: 67px;
}

.header-content .header-ul{
    list-style: none;
    overflow-y: auto;
    margin: 10px auto;
    padding: 0;
}

.header-content .header-ul>li{
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    cursor: pointer;
}

.header-content .header-ul>li>a{
    width: 100%;
    display: inline-block;
}

.header-content .header-ul>li>a i{
    margin: auto 5px;
    font-size: 8px;
    line-height: 20px;
    vertical-align: middle;
    color: #D0D0D0;
}

.header-content .header-ul>li>a:hover{
    color: white;
    background-color: #e78170;
}

.header-content .hide{
    display: none;
}

/*主体内容*/
.container{
    margin-top: 56px;
}

/*category header*/
.page-header{
    margin-top: 15px;
}
.category-header{
    padding-left: 25px;
}

.category-header > li{
    float: left;
    margin: 10px 15px 5px 0;
}

.category-header > li > a{
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 14px;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.category-header > li.active > a, .category-header > li > a:hover{
    color: white;
    border-color: #e78170;
    background: #e78170;
}

/*内容*/
.category-content{
    padding-left: 25px;
    margin-top: 35px;
}

.category-content > li{
    position: relative;
    width: 100%;
    padding-right: 2px;
    padding-bottom: 17px;
    margin: 0 0 17px;
    border-bottom: 1px dashed #d9d9d9;
    word-wrap: break-word;
}
.category-content > li >a >img{
    width: 100%;
    height: 100px;
    border-radius: 4px;
    border: 1px solid #eeeeee;
}

.category-date{
    margin: 8px 0;
    font-size: 12px;
}

.category-title{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}
.category-title a{
    color: inherit;
    font: inherit;
    line-height: inherit;
}

.category-desc{
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    color: #999;
}

/*加载*/
.load-more{
    text-align: left;
    padding-left: 25px;
    margin-bottom: 20px;
}

.load-more button,.load-more button:hover{
    background-color: #e78170;
    color: white;
    border-radius: 90px;
    border: 1px solid transparent;
}
.load-more button:hover{
    opacity: 0.8;
}

.category-more{
    margin: 10px 10px;
    width: 60px;
    height: 40px;
}

/*文章*/
.article{
    margin-left: 20%;
    margin-right: 20%;
}

.article .title{
    margin-bottom: 25px;
    padding-top: 10px;
    border-bottom: 1px dashed #DDD;
}

.article .time{
    margin-top: 10px;
    color: #ccc;
    font-size: 12px;
}

.image-package{
    margin: 0 auto 20px;
    text-align: center;
}

.show-content a{
    color:#4094c7;
}
.show-content a:hover{
    color:#4094c7;
    opacity: 0.7;
    text-decoration: underline;
}
/*message*/
.growl { top: 50px; z-index: 9999; left: 50%; margin-left: -125px; font-size: 14px; }
.growl .alert { padding: 10px; text-align: center; }
.growl .alert-success .close { display: none; }