<div class="modal-header">
    <a class="close" ng-click="$dismiss()">&times;</a>
    <h4 class="modal-title">插入图片</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="form">
        <div class="icon icon-center">
            <span class="pointer" ng-click="type = 0">本地图片</span>
            <span>&nbsp;或&nbsp;</span>
            <span class="pointer" ng-click="type = 1">网络图片</span>
        </div>
        <div class="icon icon-center" ng-if="type == 0">
            <upload-file></upload-file>
        </div>
        <div class="icon icon-center" ng-if="type == 1">
            <span class="icon-input"><i class="fa fa-link"></i></span>
            <input type="text" class="form-control value-input" ng-model="entity.imgLink" required/>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()" ng-disabled="processing || form.$invalid">
        <span ng-if="!processing">确定</span>
        <span ng-if="processing">处理中...</span>
    </button>
    <button class="btn" ng-click="$close()">取消</button>
</div>