<div class="modal-header">
    <a class="close" ng-click="$dismiss()">&times;</a>
    <h4 class="modal-title">添加简介</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 text-right">名称：</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="entity.name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 text-right">描述：</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="entity.description" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 text-right">图片：</label>
            <div class="icon col-sm-7">
                <upload-file></upload-file>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 text-right">分类：</label>
            <div class="col-sm-7">
                <ul class="list-inline">
                    <li ng-repeat="item in categoryList">
                        <span class="li-radio" ng-class="entity.categoryId == item.id?'active':''" ng-click="choose(item)">{{item.name}}</span>
                        <!--<input class="li-radio" type="radio" name="category" ng-model="entity.categoryId" value="{{item.id}}" />{{item.name}}-->
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()" ng-disabled="processing || form.$invalid">
        <span ng-if="!processing">确定</span>
        <span ng-if="processing">处理中...</span>
    </button>
    <button class="btn" ng-click="$close()">取消</button>
</div>