<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="humanSleep" class="aspect.HumanSleep" />

       <!--通知advice-->
       <bean id="sleepHelper" class="aspect.SleepHelper" />

       <!--切入点pointcut-->
       <bean id="sleepPointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut">
              <property name="pattern" value=".*sleep" />
       </bean>

       <!--切面advisor-->
       <bean id="sleepAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
              <property name="advice" ref="sleepHelper" />
              <property name="pointcut" ref="sleepPointcut" />
       </bean>

       <bean id="humanSleepProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
              <property name="proxyInterfaces" value="aspect.Sleepable" />
              <property name="interceptorNames" value="sleepAdvisor" />
              <property name="target" ref="humanSleep" />
       </bean>
</beans>