<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="sleepHelper" class="aspect.SleepHelper" />

       <bean id="sleepAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
              <property name="advice" ref="sleepHelper" />
              <property name="pattern" value=".*sleep()" />
       </bean>

       <bean id="humanSleep" class="aspect.HumanSleep" />

       <!--自动生成代理-->
       <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />
</beans>